In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
query12_df = pd.read_csv ('Query 12.csv')

In [16]:
query12_df

,film_id,title,description,rental_rate
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,4.99
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,4.99
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,4.99
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,4.99
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,0.99
...,...,...,...,...
995,996,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,0.99
996,997,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...,0.99
997,998,Zhivago Core,A Fateful Yarn of a Composer And a Man who mus...,0.99
998,999,Zoolander Fiction,A Fateful Reflection of a Waitress And a Boat ...,2.99
999,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,4.99

In [17]:
def sentiment_detection(sentence):
    positive_words = ('Fateful', 'Beautiful', 'Fanciful', 'Emotional', 'Brilliant', 'Touching')
    negative_words = ('Epic', 'Astounding', 'Boring', 'Unbelievable', 'Saga' , 'Panorama')

    positive = any(sentence.count(i) > 0 for i in positive_words)
    negative = any(sentence.count(i) > 0 for i in negative_words)

    if positive == negative == False:
        return "neutral"
    elif positive != negative:
        return "positive" if positive else "negative"
    else:
        return "mixed"

In [18]:
query12_df['description'].apply(sentiment_detection)

0      positive
1      negative
2      negative
3      positive
4      negative
         ...
995     neutral
996    positive
997    positive
998    positive
999    negative
Name: description, Length: 1000, dtype: object

In [22]:
query12_df['sentiment'] = query12_df['description'].apply(sentiment_detection)

In [23]:
print(query12_df['sentiment'])

0      positive
1      negative
2      negative
3      positive
4      negative
         ...
995     neutral
996    positive
997    positive
998    positive
999    negative
Name: sentiment, Length: 1000, dtype: object

In [26]:
#sentiment_query12_df.head()
print(query12_df)

     film_id              title  \
0        133    Chamber Italian
1        384   Grosse Wonderful
2          8    Airport Pollock
3         98  Bright Encounters
4          1   Academy Dinosaur
..       ...                ...
995      996     Young Language
996      997         Youth Kick
997      998       Zhivago Core
998      999  Zoolander Fiction
999     1000          Zorro Ark

                                           description  rental_rate sentiment
0    A Fateful Reflection of a Moose And a Husband ...         4.99  positive
1    A Epic Drama of a Cat And a Explorer who must ...         4.99  negative
2    A Epic Tale of a Moose And a Girl who must Con...         4.99  negative
3    A Fateful Yarn of a Lumberjack And a Feminist ...         4.99  positive
4    A Epic Drama of a Feminist And a Mad Scientist...         0.99  negative
..                                                 ...          ...       ...
995  A Unbelieveable Yarn of a Boat And a Database ...         0.99   neutral
996  A Touching Drama of a Teacher And a Cat who mu...         0.99  positive
997  A Fateful Yarn of a Composer And a Man who mus...         0.99  positive
998  A Fateful Reflection of a Waitress And a Boat ...         2.99  positive
999  A Intrepid Panorama of a Mad Scientist And a B...         4.99  negative

[1000 rows x 5 columns]